html{
  display: flex;
  flex-direction: row;
  background-color: #F09185;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 1rem;
  row-gap: 10px;
  column-gap: 20px;
}

nav{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  color: black;
}


h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  display: flex;
  background-color: #A3574D;
  border-radius: 4px;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}

footer{
  background-color: #A3574D;
}